.Catcontent{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
/*     background-color: violet;  */
    margin-left: 10px;
    margin-bottom: 10px;
}

.Catcontent2{
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: start;
    text-align: left;
    align-items: center;
    position: fixed;
}

.Catcontent3{
    margin-top: 5px;
}

.Catcontent3 a{
    text-decoration: none;
}

.btn1{
    background-color:seagreen !important;
    color: white !important;
}

.btn1:hover{
    background-color:rgb(38, 102, 66) !important;
}

.btnUpdate{
    background-color:seagreen !important;
    height: 35px;
    min-width: 10px !important;
    color: white !important;
    margin-right: 5px !important;
}

.btnUpdate:hover{
    background-color:rgb(38, 102, 66) !important;
}

.btnDelete{
    background-color:rgb(238, 45, 45) !important;
    height: 35px;
    min-width: 10px !important;
    color: white !important;
}

.btnDelete:hover{
    background-color:rgb(192, 14, 14) !important;
}


.userCreate form{
    background-color: white;
    width: 500px;
    border: 1px solid black;
    padding: 0px 10px 10px 10px;


    display: flex;
    flex-direction: column;
    
}

.userCreate input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    width: 95%;
}

.contentBtn a{
    text-decoration: none;
}